body{
    --whiteBg: #28384f !important;
    --blackBg: white !important;
    --grayBg: #151e2b !important;
    --txtColD: white !important;
    --txtColW: black !important;

    --borderValueWhite: 1px #354a69 solid !important;

    
    --BGP: #151e2b !important;
    --BGPA: rgb(62, 57, 87) !important;
    --BGC: white !important;
    --BGCA: white !important;

    color: white !important;

    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
html {
    scroll-behavior: smooth;
}

header{
    position: fixed;
    z-index: 2;
    top: 0%;
    width: 100%;
    height: 50px;
    background-color: var(--grayBg);
    box-shadow: var(--shadowValue);
}#menuHider{
    display: none;
}header .menuTab{
    list-style: none;
}header .menuTab  li{
    padding: 16px 20;
    transition: all 200ms ease-in-out;
}.menuTab .menuSelection{
    transition: all 200ms ease-in-out;
    border-bottom: var(--grayBg) solid 1px;
}.menuTab .menuSelection:hover{
    border-bottom-color: white;
    background-color: var(--whiteBg);
}

svg{
    width: 100%;
}svg path{
    filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.234));
}

footer{
    padding: 10px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: var(--grayBg);
    color: var(--txtColD);
    box-sizing: border-box;
}



@media (max-width: 700px){
    #menuHider{
        display: block;
    }.menuTab{
        padding: 40px 0px 0px 0px;
        display: block;
        position: fixed;
        background-color: rgb(62, 57, 87);
        height: 100%;
        width: 200px;
        z-index: 3;
        touch-action: none;
        transform: translateY(0px) translateX(calc(-100% - 10px));
        top: 50px;
        transition: transform 200ms ease;
    }#menuHider:has(input:checked) ~ .menuTab{
        transform: translateX(-10px);
    }.menuTab li{
        text-align: center;
    }.menuTab .menuSelection{
        border-bottom-width: 0px;
    }.menuTab .menuSelection:hover li{
        background-color: rgb(51, 47, 72);
    }
}